In [1]:
import pandas as pd

In [10]:
df=pd.read_csv("Churn_Modelling.csv")

In [11]:
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [12]:
df.tail()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
9995,9996,15606229,Obijiaku,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,9997,15569892,Johnstone,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,9998,15584532,Liu,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,9999,15682355,Sabbatini,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,10000,15628319,Walker,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [13]:
#remove the unnecessary columns 
df.drop(columns=["RowNumber","CustomerId","Surname"],axis=1,inplace=True)

In [14]:
df

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [15]:
df.shape

(10000, 11)

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   CreditScore      10000 non-null  int64
 1   Geography        10000 non-null  object
 2   Gender           10000 non-null  object
 3   Age              10000 non-null  int64
 4   Tenure           10000 non-null  int64
 5   Balance          10000 non-null  float64
 6   NumOfProducts    10000 non-null  int64
 7   HasCrCard        10000 non-null  int64
 8   IsActiveMember   10000 non-null  int64
 9   EstimatedSalary  10000 non-null  float64
 10  Exited           10000 non-null  int64
dtypes: float64(2), int64(7), object(2)
memory usage: 859.5+ KB

In [18]:
df.isnull().sum()

CreditScore        0
Geography          0
Gender             0
Age                0
Tenure             0
Balance            0
NumOfProducts      0
HasCrCard          0
IsActiveMember     0
EstimatedSalary    0
Exited             0
dtype: int64

In [21]:
df.Gender.unique()

array(['Female', 'Male'], dtype=object)

In [24]:
df.Gender=df.Gender.replace({'Female':0,'Male':1})

In [25]:
df

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,0,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,0,41,1,83807.86,1,0,1,112542.58,0
2,502,France,0,42,8,159660.80,3,1,0,113931.57,1
3,699,France,0,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,0,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,1,39,5,0.00,2,1,0,96270.64,0
9996,516,France,1,35,10,57369.61,1,1,1,101699.77,0
9997,709,France,0,36,7,0.00,1,0,1,42085.58,1
9998,772,Germany,1,42,3,75075.31,2,1,0,92888.52,1
9999,792,France,0,28,4,130142.79,1,1,0,38190.78,0

In [26]:
df.Geography.unique()

array(['France', 'Spain', 'Germany'], dtype=object)

In [27]:
df=pd.get_dummies(df,drop_first=True)

In [28]:
df.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,0,0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0,1
2,502,0,42,8,159660.80,3,1,0,113931.57,1,0,0
3,699,0,39,1,0.00,2,0,0,93826.63,0,0,0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0,1

In [33]:
df.Exited.value_counts()

0    7963
1    2037
Name: Exited, dtype: int64

In [42]:
X=df.drop('Exited',axis=1)
y=df['Exited']

In [43]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42,stratify=y)

In [44]:
from sklearn.preprocessing import RobustScaler
rs=RobustScaler()

In [45]:
X_train=rs.fit_transform(X_train)
X_test=rs.transform(X_test)

In [46]:
X_train

array([[ 0.7593985 ,  0.        ,  1.66666667, ...,  0.61355936,
         0.        ,  0.        ],
       [ 0.65413534,  0.        , -0.41666667, ..., -0.36250053,
         1.        ,  0.        ],
       [ 0.77443609, -1.        ,  0.        , ...,  0.18346341,
         1.        ,  0.        ],
       ...,
       [ 0.11278195, -1.        ,  0.        , ..., -0.32413609,
         0.        ,  0.        ],
       [ 0.26315789,  0.        , -0.16666667, ..., -0.78907293,
         0.        ,  1.        ],
       [ 1.12781955,  0.        ,  1.16666667, ..., -0.59887161,
         0.        ,  1.        ]])

In [47]:
from sklearn.linear_model import LogisticRegression
lr=LogisticRegression()

In [48]:
lr.fit(X_train,y_train)

LogisticRegression()

In [49]:
y_pred=lr.predict(X_test)

In [55]:
from sklearn.metrics import accuracy_score,f1_score

In [52]:
accuracy_score(y_test,y_pred)

0.808

In [56]:
f1_score(y_test,y_pred)

0.2835820895522388

In [ ]:
#since our dataset is imbalanced, we will use SMOTE 

!pip install imblearn
!pip install scikit-learn

In [67]:
from imblearn.over_sampling import SMOTE

In [68]:
X_res,y_res=SMOTE().fit_resample(X,y)

In [73]:
y_res.value_counts()

1    7963
0    7963
Name: Exited, dtype: int64

In [74]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X_res, y_res, test_size=0.2, random_state=42)

In [75]:
from sklearn.preprocessing import RobustScaler
rs=RobustScaler()
X_train=rs.fit_transform(X_train)
X_test=rs.transform(X_test)

In [76]:
from sklearn.linear_model import LogisticRegression
lr=LogisticRegression()

In [77]:
lr.fit(X_train,y_train)

LogisticRegression()

In [78]:
y_pred=lr.predict(X_test)

In [82]:
accuracy_score(y_test,y_pred)

0.7868801004394225

In [83]:
f1_score(y_test,y_pred)

0.7849223946784923

In [84]:
import joblib

In [85]:
joblib.dump(lr,'ChurnPredictor')

['ChurnPredictor']

In [92]:
joblib.dump(rs,'ChurnScaler')

['ChurnScaler']